*{
  background-image: url(./assets/bgimg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Heading {
  color: beige;
  display: flex;
  font-family: 'Kalam', cursive;
  font-size: 70px;
  justify-content: center;  
}

.Slow {
  color: beige;
  display: flex;
  font-family: 'Ruwudu', serif;
  font-size: 35px;
  justify-content: center;  
}

.Photo {
  display: block;
  border: 10px solid #E2DFD2;
  border-radius: 5px 150px 5px;
  background: #BADA55;
  margin-left: auto;
  margin-right: auto;
  width: 300px
}  

.slogan {
  color: white;
  font-size: 25px;
  text-align: center;
  justify-content: center;  
  font-family: 'PT Serif', serif;
}

.email{
  color: beige;
}


.footer {
  display: grid;
  color: white;
  text-align: right;
  font-family: "Open Sans", sans-serif;
}

.Fb {
  color: bisque;
}

.Ig {
  color: bisque;
}

@media (max-width: 680px) {

.Title {
  font-size: 3.5rem;
  text-align: center;
}


.INP {
  font-size: 3.5rem;
  text-align: center;
}

.footer {
  font-size: smaller;
}
}