html {
        background: rgb(122,80,170);
    background: linear-gradient(90deg, rgba(122,80,170,1) 0%, rgba(21,34,117,1) 25%, rgba(0,0,0,1) 70%);
    }


.headd {
    color: rgb(162, 132, 132);
    display: grid;
    justify-content: center;
    font-size: 80px;
    font-family: 'Caveat', cursive;
}

.ROJJ {
    color: rgb(211, 204, 204);
    display: grid;
    justify-content: center;
    font-size: 100px;
    font-family: 'Parisienne', cursive;
}

.Photo {
    display: grid;
    border: 5px solid #E2DFD2;
    border-radius: 5px 150px 5px; 
    background: #BADA55;
    margin-left: auto;
    margin-right: auto;
    width: 300px
  }  

.APP {
    color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    font-size: 80px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Parisienne', cursive;
}

.RRR {
    display: flex;
    justify-content: center;
    align-items: center;
    background: 100720;
}

button {
    height: 62px;
    width: 165px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.2sec;
}

button:after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(255, 94, 247, 1) 17.8%,
        rgba(0, 244, 137, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    

}

button:active {
  transform: scale(0.9) rotate(3deg);
  background-image: radial-gradient(circle
        farthest-corner at 10% 20%,
       rgba(255,94,247,1)17.8%, rgba(2,245,255,1)100.2%
    );
 transition: 0.5sec;
}


.RRR {
    display: flex;
    justify-content: center;
    gap:200px;
}

.footer {
    color: rgb(89, 86, 86);
    font-size: 20px;
    display: grid;
    text-align: right;
    font-family: "Open Sans", sans-serif;
}

  
@media screen and (max-width: 992px) {
    .ROJJ {
      font-size: 45px;
    }

    .headd {
        font-size: 30px;
    }

    .APP {
        font-size: 45px;
    }

    .RRR {
        display:flexbox;
        flex-direction: column;
        gap: 20px;
    }

    button {
        height: 93px;
        width: 247.5px;
    }

        .footer {
                font-size: 10px;
        }
  }