* {
    background-color: #081f49
}

.Title {
    color: white;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    
}

.INP {
    color: rgb(217, 200, 200);
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 150px;
    text-decoration:underline;
    border-bottom: 1px solid #ffffff;
}


.footer {
    display: grid;
    color: white;
    text-align: right;
    font-family: "Open Sans", sans-serif;
}

.Fb {
    color: bisque;
}

.Ig {
    color: bisque;
}

@media (max-width: 680px) {
  
  .Title {
    font-size: 3.5rem;
    text-align: center;
  }


  .INP {
    font-size: 3.5rem;
    text-align: center;
  }

  .footer {
    font-size: smaller;
  }


  }
